.form {
    padding: 50px 70px;
    font-family: 'Gotham Pro Light'; 
    font-size: 14px; 
    background-color: #f5f5f5;
}

.form__title {
    font-size: 49px;
    font-family: 'Gotham Pro Bold'; 
    margin-bottom: 25px;
}

.form__row {
    margin-bottom: 20px;
    display: flex;
}

.form__row--with-button {
    justify-content: space-between;
}

.form__block {
    flex:1;
}

.form__block:not(:last-child) {
    margin-right: 23px;
}

.form__block-title {
    display: inline-block;
}
.form__block-title,
.form__radio-group-title {
    margin-bottom: 10px;
}

.form-field {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;

    width: 100%;
    padding: 10px;
}

.form-field:focus {
    border: 1px solid #ec1e79;
    outline: none;
}

.form-field::placeholder {
    color: #ccc;
}


.form__textarea {
    resize: vertical;
}

.radio {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.radio:not(:last-child) {
    margin-right: 10px;
}

.radio__title {
    margin-left: 10px;
}

.radio__design {
    display: flex;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #ccc;
    justify-content: center;
    align-items: center;
}

.radio__input{
    position: absolute;
    top: 0;
    left: -9999px;
}

.radio__design::before {
    content: '';
    display: flex;
    height: 0;
    width: 0;
    border-radius: 50%;
    background-color: #ec1e79;
    transition: .2s;

    height: 10px;
    width: 10px;
    opacity: 0;
}

.radio__input:checked + .radio__design {
    border-color: #ec1e79;
}

.radio__input:checked + .radio__design::before {
opacity: 1;
}

.radio__input:checked + .radio__design +.radio__title {
    color: #ec1e79;
}

.form__button {
    padding: 20px;
    border:0;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Gotham Pro Bold'; 
    color:#fff;
    background-color: #27273e;
    cursor: pointer;
}

.form__button:hover {
    background-color: #ec1e79;
}