.navigation {
    /* width: 500px; */
}

.navigation__list {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.navigation__item {
    margin-bottom: 32px;
    color: #ec1e79;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: color .5s, filter .5s;
    margin-right: 90px;
}

.navigation__item--header {
    margin-bottom: 0;
    filter: brightness(0) invert(1);
}

.navigation__item:hover,
.navigation__item--active {
    color: #000
}

.navigation__item--header:hover,
.navigation__item--header.navigation__item--active {
    color: #ec1e79;
    filter: brightness(0) invert(1);
}

.navigation__item--active {
    text-decoration: underline;
}

.navigation__item--active,
.navigation__item:hover{
    filter:grayscale(100%);
}

.navigation__item--header:hover,
.navigation__item--header.navigation__item--active{
    filter: none;
}

.navigation__link,
.navigation__link:link{
    display:inline-block;
    font-family: 'Gotham Pro Bold';
    color: inherit;  
    text-decoration: inherit;
    vertical-align: middle;
}

.navigation__link--main:before {
    display: inline-block;
    content: "";

    width: 17px;
    height: 15px;
    background: url('../../img/navigation-sprite.png') -10px -48px;
    margin-right:20px;
    margin-bottom: -3px;

}

.navigation__link--reviews:before {
    display: inline-block;
    content: "";

    width: 20px;
    height: 18px;
    background: url('../../img/navigation-sprite.png') -10px -10px;
    margin-right:20px;
    margin-bottom: -3px;

}

.navigation__link--prices:before {
    display: inline-block;
    content: "";

    width: 19px;
    height: 16px;
    background: url('../../img/navigation-sprite.png') -50px -10px;
    margin-right:20px;
    margin-bottom: -3px;


}